@page
@model BookShop.Web.Areas.Admin.Pages.Orders.IndexModel
@{
}

<h1>Orders</h1>
<hr />

<table class="table table-bordered">
    @foreach (var order in Model.OrderList)
    {
        <tr>
            <td>
                @if (order.Details is not null)
                {
                    <p>
                        @order.Details.Book.Name - @order.Details.Book.Price$
                    </p>
                }
            </td>
            <td>@order.Amount</td>
            <td>
               @order.UserUserName
            </td>
            <td>@order.TimeCreated.ToShortDateString()</td>
        </tr>
    }

</table>